{% extends 'base.html' %}
{% block title %}Scrumptious Recipes{% endblock title %}
{% block content %}
{% load static %}
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
        </form>
</main>
{% endblock content %}
