{% extends 'base.html' %}
{% block title %}Scrumptious recipes{% endblock title %}
{% load static %}
{% block content %}
<main>
    <div>
        <h1>{{ recipe_object.title }}</h1>
    </div>
    <img src="{{ recipe_object.picture }}" alt="food image">
    <div>
        <p>4.3 stars</p>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </div>
</main>
{% endblock content %}
