{% extends 'base.html' %}
{% block title %}
    Scrumptious recipes
{% endblock title %}
{% block content %}
{% load static %}
<title>{{ recipe_object.title }} - Scrumptious Recipes</title>
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main page</a>
    </nav>
</header>
<main>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Edit</button>
        </form>
</main>
{% endblock content %}
