{% extends 'base.html' %}
{% block title %}
Scrumptious recipes
{% endblock title %}

{% block content %}
{% load static %}
<main>
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class="list_container">
        {% for recipe in recipe_list %}
        <div class="list_item">
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                <p>{{ recipe.created_on|date:"N d Y"}}</p>
            </h3>
            <img src="{{ recipe.picture }}" alt="taco image">
            <div>4.3 stars</div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
