@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.list_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

.list_item {
    border: 1px solid red;
    margin: 10px;
    background-color: #E3E3E3;
}

main {
    padding: 16px;

}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #F55A34;
    color: #FFFFFF;
}

header a {
    color: white;
}

a:hover {
    color: green;
}

a {
    text-decoration: none;
}

footer {
    background-color: #B5D066;
    position: block;
    bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    border: 1px solid black;
}

h1 {
    color: #1E6252;
}
