
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock title %}
        </title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url 'recipe_list' %}">Main page</a>
                <a href="{% url 'edit_recipe' %}">Edit a recipe</a>
                {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'my_recipe_list' %}">My recipes</a>
                <a href="{% url 'user_logout' %}">Log out</a>
                <a href="{% url 'create_recipe' %}">Create a recipe</a>
                {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Log in</a>
                {% endif %}
            </nav>
        </header>
        {% block content %}{% endblock content %}
        <footer>
            <p>Made with love by Scrumptious Recipes</p>
        </footer>
    </body>
    </html>
